.page-header
  %h1 
    %i.glyphicon.glyphicon-flag
    Requests Dashboard
    .pull-right
      = link_to new_request_path, class: 'btn btn-primary btn-lg' do
        %i.glyphicon.glyphicon-plus
        New Request


.row
  .col-sm-6.col-sm-offset-3
    .panel.panel-default
      .panel-heading
        %h2 Requests
      .panel-body
        %table#requests-table.table.table-striped
          %thead
            %tr
              %th CMDR Name
              %th Platform
              %th System
              %th Oxygen Status
          %tbody
            - @requests.each do |request|
              %tr
                %td= request.cmdr_name
                %td= request.platform
                %td= link_to request.system.name, request.system unless request.system.nil?
                %td= request.oxygen_timer